{# app/Resources/views/lucky/mail.html.twig #}

<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8" />
        <title>{% block title %}Mail versendet {% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

    <h1> Mail mit dem Inhalt :</h1>
    <hr>
        <p> Hello, </p>
        <br>

    <p>  thank you for using our service. You are a really good customer! You are amazing!</p>
        <br>

     <p>   Best regards,</p>
        <br>

    <p>  customer support</p>
         <br>
    <hr>
       <h1>  wurde   versendet </h1>
</body>
</html>