{# app/Resources/views/lucky/number.html.twig #}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Willkommen {% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

    <h1> Bitte Versenden Sie an alle aktiven Mitglieder eine MAIL </h1>
    <hr>
        <form action="mailsend" method="post">
        <input type="submit" value="Emails versenden">
        </form>
    <hr>
</body>
</html>
